.member-container {
    margin-top: 150px;
    margin-bottom: 80px;
}

.be-member {
    font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
    .member-container {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .member-card-text {
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .shop-icon {
        display: block;
        margin: 0 auto;
    }
}